/* dashboard header color: #605ca8 */

#login-page {
  width: 400px; 
  max-width: 100%; 
  margin: 0 auto; 
  padding: 20px;
}
      
.text-center {
  padding-top: 0;
  font-weight: 600;
}

.button {
  background-color: white;
  padding: 5px 5px; 
  margin: 0 10px;
}

.error {
  color: red;
}

.dropdown {
  background-color: #eee !important;
  border-radius: 5px;
  border: 0;
  margin: 5px 10px; 
  padding: 10px;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

.article {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

/*
.well {
  color: white;
  background-color: #605ca8;
  transition: transform 0.3s;
  border-radius: 10px;
}
          
.well:hover {
  transform: scale(1.01);
}
*/

.shiny-output-error,
.shiny-output-error:before { 
  visibility: hidden; 
}