#login-page {
  width: 400px; 
  max-width: 100%; 
  margin: 0 auto; 
  padding: 20px;
}
      
.text-center {
  padding-top: 0;
  font-weight: 600;
}

.button {
  background-color: white;
  padding: 5px 5px; 
  width: 75px; 
  font-size: 12px; 
  margin: 0 10px;
}

.error {
  color: red;
}

.dropdown {
  background-color: #eee !important;
  border-radius: 5px;
  border: 0;
  margin: 5px 10px; 
  padding: 10px;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

.article {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}